@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  display: block;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::-webkit-scrollbar {
  width: 8px; /* 세로축 스크롤바 폭 너비 */
  height: 8px; /* 가로축 스크롤바 폭 너비 */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#0D7ACF, hsl(189, 88%, 43%));
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}

.visual_dep02_contain::-webkit-scrollbar {
  width: 8px; /* 세로축 스크롤바 폭 너비 */
  height: 8px; /* 가로축 스크롤바 폭 너비 */
}

.visual_dep02_contain::-webkit-scrollbar-thumb {
  background: linear-gradient(#0D7ACF, hsl(189, 88%, 43%));
  border-radius: 25px;
}

.visual_dep02_contain::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}

main {
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 8;
}
header .login_mobile {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
header .login_mobile a svg {
  width: 12px;
  fill: #eee;
  margin-bottom: -2px;
}
header .login_mobile a span {
  color: #eee;
  font-size: 14px;
}
header .login_mobile a:hover svg {
  fill: #33a7ff;
}
header .login_mobile a:hover span {
  color: #33a7ff;
}
header.active {
  background-color: rgb(255, 255, 255);
}
header.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 270px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 100%;
}
header.active .header_logo_wrap a {
  background-image: url("../images/logo/logo.png");
}
header.active .gnb_menu_wrap > ul > li.dep_01 > ul > li {
  height: 100%;
}
header .header_logo_wrap {
  width: 180px;
  height: calc(100% - 40px);
  padding-left: 16px;
}
header .header_logo_wrap a {
  width: 100%;
  height: 100%;
  background-image: url("../images/logo/logo_W.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
header .gnb_menu_wrap {
  height: 100%;
  display: none;
}
header .gnb_menu_wrap > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
}
header .gnb_menu_wrap > ul li.dep_01 {
  height: 100%;
}
header .gnb_menu_wrap > ul li.dep_01 > a {
  font-size: 18px;
  letter-spacing: 1px;
}
header .gnb_menu_wrap > ul li.dep_01 a {
  height: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .gnb_menu_wrap > ul li.dep_01 > ul {
  flex-direction: column;
  padding: 16px 0;
}
header .gnb_menu_wrap > ul li.dep_01 > ul li {
  height: 0;
  overflow: hidden;
}
header .gnb_menu_wrap > ul li.dep_01 > ul li a {
  color: #666;
  padding: 14px;
  transition: 0.4s;
}
header .gnb_menu_wrap > ul li.dep_01 > ul li a:hover {
  color: #0D7ACF;
}
header .header_btn_wrap {
  padding-right: 16px;
}
header .header_btn_wrap ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
header .header_btn_wrap ul a {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
header .header_btn_wrap ul .dr_btn a {
  display: none;
  padding: 6px 16px;
  border-radius: 20px;
  background-color: #EE2E5B;
  color: #fff;
  font-size: 12px;
  font-family: light_font_G;
}
header .header_btn_wrap ul .dr_btn a svg {
  width: 13px;
  fill: #fff;
}
header .header_btn_wrap ul .login a {
  display: none;
}
header .header_btn_wrap ul .login a svg {
  width: 13px;
  fill: #fff;
}
header .header_btn_wrap ul .login a span {
  margin-bottom: -5px;
  color: #fff;
}
header .header_btn_wrap ul .all_menu_open a svg {
  fill: #fff;
}

#all_menu_contain {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #0D7ACF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
#all_menu_contain .all_menu_login_contain {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#all_menu_contain .all_menu_login_contain .all_menu_login_wrap {
  width: 100%;
  max-width: 1400px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#all_menu_contain .all_menu_top_wrap {
  width: 100%;
  max-width: 1400px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all_menu_contain .all_menu_top_wrap .all_menu_top {
  width: 100%;
  max-width: 180px;
  height: 100px;
}
#all_menu_contain .all_menu_top_wrap .all_menu_top a {
  width: 100%;
  height: 100%;
  background-image: url("../images/logo/logo_W.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
#all_menu_contain .all_menu_top_wrap .all_menu_close a svg {
  width: 32px;
  fill: #fff;
}
#all_menu_contain .all_menu_wrap {
  width: 100%;
  max-width: 1400px;
  margin-top: 4px;
  margin-bottom: 24px;
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01:first-child > a {
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 {
  flex-grow: 1;
  width: 100%;
  position: relative;
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > a svg {
  fill: #fff;
  display: block;
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > ul.drop_down {
  flex-direction: column;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > ul.drop_down li a {
  color: #ddd;
  font-size: 16px;
  padding: 14px;
  transition: 0.4s;
  height: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > ul.drop_down li a:hover {
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  background-color: #444;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
footer .footer_btn_wrap {
  width: 100%;
  background-color: #eee;
}
footer .footer_btn_wrap ul {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer_btn_wrap ul li {
  padding: 14px 16px;
}
footer .footer_info_wrap {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
}
footer .footer_info_wrap .footer_logo_wrap {
  width: 180px;
  height: 100%;
  min-height: 49px;
  background-image: url("../images/logo/f_logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
footer .footer_info_wrap .footer_txt_wrap {
  text-align: center;
  color: #aaa;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .footer_info_wrap .footer_txt_wrap address {
  color: #aaa;
  font-size: 13px;
}
footer .footer_info_wrap .footer_txt_wrap p {
  font-family: light_font_G;
}
footer .footer_info_wrap .footer_txt_wrap p {
  color: #aaa;
  font-size: 11px;
}
footer .footer_info_wrap .footer_txt_wrap .copyright {
  color: #969696;
  font-size: 11px;
}

aside {
  background-color: #0D7ACF;
  width: 84px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  display: none;
}
aside .left_menu_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
aside .left_menu_wrap .left_visual_menu_wrap, aside .left_menu_wrap .left_direct_menu_wrap {
  width: 100%;
}
aside .left_menu_wrap .left_visual_menu_wrap ul li, aside .left_menu_wrap .left_direct_menu_wrap ul li {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
}
aside .left_menu_wrap .left_visual_menu_wrap ul li p, aside .left_menu_wrap .left_direct_menu_wrap ul li p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
aside .left_menu_wrap .left_visual_menu_wrap ul li svg, aside .left_menu_wrap .left_direct_menu_wrap ul li svg {
  fill: #333;
  width: 40px;
}
aside .left_menu_wrap .left_visual_menu_wrap ul {
  margin-top: 50px;
  border: 1px solid red;
}
aside .left_menu_wrap .left_visual_menu_wrap ul li:hover {
  background-color: rgb(255, 255, 255);
}
aside .left_menu_wrap .left_visual_menu_wrap ul li:hover p {
  color: #0D7ACF;
}
aside .left_menu_wrap .left_visual_menu_wrap ul li:hover svg {
  fill: #0D7ACF;
}
aside .left_menu_wrap .left_direct_menu_wrap ul {
  background-color: rgba(0, 0, 0, 0.2);
}
aside .left_menu_wrap .left_direct_menu_wrap ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
aside .left_menu_wrap .left_direct_menu_wrap ul li:hover p {
  color: #053153;
}

.visual_back_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
  display: none;
}

.visual_dep02_contain {
  position: absolute;
  top: 0;
  left: -220px;
  z-index: 13;
  background-color: #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: 220px;
  height: 100vh;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.visual_dep02_contain .visual_menu_close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.visual_dep02_contain .visual_menu_close a svg {
  width: 28px;
  fill: #333;
}
.visual_dep02_contain .visual_dep02_top {
  width: 100%;
}
.visual_dep02_contain .visual_dep02_top .visual_dep02_top_icon {
  width: 100%;
  height: 100px;
  border: 1px solid red;
}
.visual_dep02_contain .visual_dep02_top .visual_dep02_top_title {
  font-size: 22px;
  text-align: center;
  padding: 16px;
  color: #053153;
  font-family: bold_font_G;
}
.visual_dep02_contain .visual_dep02_menu {
  width: 100%;
}
.visual_dep02_contain .visual_dep02_menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.visual_dep02_contain .visual_dep02_menu li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.visual_dep02_contain .visual_dep02_menu li a {
  padding: 20px 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.visual_dep02_contain .visual_dep02_menu li a:hover {
  color: #0D7ACF;
}
.visual_dep02_contain .visual_dep02_menu li a span {
  background-color: rgba(13, 122, 207, 0.5);
  margin-right: 10px;
  margin-bottom: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual_dep02_contain .visual_dep02_menu li a span::after {
  content: "";
  box-sizing: "border-box";
  margin-left: -3px;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.visual_dep03_contain {
  position: absolute;
  z-index: 12;
  top: 150px;
  left: 304px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 400px;
  height: 500px;
  background-color: #fff;
  background-color: #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.visual_dep03_contain img {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width: 1400px) {
  main .login_mobile {
    display: none;
  }
  header {
    width: calc(100% - 84px);
    height: 65px;
    top: 0;
    gap: 40px;
    margin-left: 84px;
  }
  header .header_logo_wrap {
    flex-grow: 2;
    height: calc(100% - 18px);
  }
  header .gnb_menu_wrap {
    display: block;
  }
  header .header_btn_wrap ul {
    gap: 32px;
  }
  header .header_btn_wrap ul .dr_btn a {
    display: block;
  }
  header .header_btn_wrap ul .login a {
    display: block;
  }
  header .header_btn_wrap ul .login a svg {
    fill: #333;
  }
  header .header_btn_wrap ul .login a span {
    color: #333;
  }
  header .header_btn_wrap ul .all_menu_open a svg {
    fill: #333;
  }
  #all_menu_contain .all_menu_login_contain {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #all_menu_contain .all_menu_login_contain .all_menu_login_wrap {
    width: 100%;
    max-width: 1400px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #all_menu_contain .all_menu_top_wrap {
    padding: 0 0px;
  }
  #all_menu_contain .all_menu_wrap {
    margin-top: 80px;
  }
  #all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap {
    flex-direction: row;
    gap: 40px;
  }
  #all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01:first-child > a {
    border-top: none;
  }
  #all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > a {
    font-size: 24px;
    justify-content: space-between;
    padding: 24px 8px;
  }
  #all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > a svg {
    display: none;
  }
  #all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > ul.drop_down {
    background-color: transparent;
  }
  #all_menu_contain .all_menu_wrap > ul.all_menu_list_wrap li.dep_01 > ul.drop_down li a {
    color: #ddd;
    font-size: 18px;
    padding: 10px 8px;
    justify-content: flex-start;
  }
  footer {
    width: 65%;
  }
  footer .footer_info_wrap {
    justify-content: flex-start;
  }
  footer .footer_info_wrap .footer_txt_wrap {
    text-align: left;
  }
  aside {
    display: block;
  }
}
@font-face {
  font-family: bold_font_G;
  src: url(../font/GmarketSansBold.otf);
}
@font-face {
  font-family: medium_font_G;
  src: url(../font/GmarketSansMedium.otf);
}
@font-face {
  font-family: light_font_G;
  src: url(../font/GmarketSansLight.otf);
}
body {
  background-color: #053153;
}

svg {
  width: 25px;
}

section.main_left_wrap, section.main_right_wrap, section.footer {
  padding: 0 16px;
}

* {
  font-family: medium_font_G;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section .main_left_wrap {
  width: 100%;
  height: 500px;
}
section .main_right_wrap {
  width: 100%;
  height: 1200px;
  background-color: #ddd;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media screen and (min-width: 1400px) {
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  section .main_left_wrap {
    width: 35%;
    height: 100%;
  }
  section .main_right_wrap {
    width: 65%;
    height: 100%;
    background-color: #ddd;
    border-top-left-radius: 16px;
    border-top-right-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
