.btn_round_shadow {
  padding: 8px 16px; border-radius: 16px; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #0D7ACF; 
  color: #fff; font-size: 16px;
  display: flex; justify-content: center; align-items: center; gap: 8px;
  transition: 0.2s;
  span{color: #fff; margin-bottom: -4px; font-family: medium_font_G}
  svg {height: 16px; fill: #fff;}
  
  &:hover {
    background-color: #1488e0;
  }
}

.btn_square_arrow_navy {
  padding: 12px 10px 12px 18px; border-radius: 8px;
  border: none;
  background-color: #053153; 
  color: #fff; font-size: 16px;
  display: flex; justify-content: center; align-items: center; gap: 8px;
  transition: 0.2s;
  span{color: #fff; margin-bottom: -4px; font-family: medium_font_G;}
  svg {height: 14px; fill: #fff;}
  
  &:hover {
    background-color: #003863;
  }
}

.btn_square_navy {
  padding: 0px 18px 0 18px; height: 38px; min-width: 120px;
  border-radius: 8px;
  border: none;
  background-color: #053153; 
  color: #fff; font-size: 14px;
  display: flex; justify-content: center; align-items: center; gap: 8px;
  transition: 0.2s;
  span{color: #fff; margin-bottom: -4px; font-family: medium_font_G; }
  svg {height: 14px; fill: #fff;}
  
  &:hover {
    background-color: #003863;
  }
}

.btn_square_blue {
  padding: 0px 18px 0 18px; height: 38px; min-width: 120px;
  border-radius: 8px;
  border: none;
  background-color: #0D7ACF; 
  color: #fff; font-size: 14px;
  display: flex; justify-content: center; align-items: center; gap: 8px;
  transition: 0.2s;
  span{color: #fff; margin-bottom: -4px; font-family: medium_font_G;}
  svg {height: 14px; fill: #fff;}
  
  &:hover {
    background-color: #1488e0;
  }
}