// Main
main {
  position: relative;
}

// 헤더:글로벌메뉴::Mobile

header.mobile_header_scroll_d {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .header_logo_wrap{
    a {
      background-image: url("../images/logo/logo.png");
    }
  }

  .header_btn_wrap {
    ul {
      .all_menu_open a {
        svg {fill: #042742;}
      }
    }
  }

}

header {
  width: 100%; height: 90px;
  background-color: rgba(255, 255, 255, 0);
  display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
  position: fixed; top: 0px; left: 0; z-index:8;

  // 탑로그인:모바일
  .login_mobile.mobile_login_scroll_d {
    background-color: rgba(4, 39, 66, 1);
  }

  .login_mobile {
    display: block;
    width: 100%; height: 36px; padding: 0 16px;
    // z-index: 10;
    // position: absolute; top:0; left:0; padding: 0 16px;
    display: flex; justify-content: flex-end; align-items: center;
    background-color: rgba(4, 39, 66, 0.8);

    a {
      svg {width: 12px; fill: #eee; margin-bottom: -2px;}
      span { color: #eee; font-size: 14px;}

      &:hover {
        svg {fill: #33a7ff;}
        span { color: #33a7ff;}
      }
    }
  }




  // &:hover {
    &.active {background-color: rgba(255, 255, 255, 1);}
    
    &.active::before {
      content: "";
      display: block;
      position: absolute; top: 100%; left: 0px;
      width: 100%; height: 270px;
      background-color: rgba(255, 255, 255, 1);
      // border-bottom: 2px solid #0D7ACF;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    &.active::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 0;
      top:100%;
    }

    &.active .header_logo_wrap a {background-image: url("../images/logo/logo.png");}

    &.active .gnb_menu_wrap > ul > li.dep_01 > ul > li { height: 100%;}
  // }

  .header_logo_wrap{
    width: 180px;  height: calc(100% - 36px); padding-left: 16px;
    a {
      width: 100%;  height: 100%;
      background-image: url("../images/logo/logo_W.png");
      background-repeat: no-repeat;
      background-position: center left;
      background-size:contain;
    }

  }

  .gnb_menu_wrap {
    height: 100%;
    display:none;

    > ul {
      display: flex; justify-content: flex-end; align-items: center;
      height: 100%;
      position: relative;
      
      li.dep_01 {
        height: 100%;

        > a {font-size: 18px; letter-spacing: 1px;}

        a {
          height: 100%; padding: 0 24px;
          display: flex; justify-content: center; align-items: center;
        }

        > ul {
            flex-direction: column; padding: 16px 0;
            li {
              height: 0; overflow: hidden; 

              a {  
                color: #666; 
                padding: 14px;
                transition: 0.4s;
    
                &:hover {
                  color: #0D7ACF; 
                }
            }
          }
        }
      }
    }
    
  }

  .header_btn_wrap {
    padding-right: 16px;
    ul {
      display: flex; justify-content: space-between; align-items: center; 
      gap: 4px;

      a {
        display: flex; gap:5px; justify-content: center; align-items: center;
      }

      .dr_btn a {
        display: none;
        padding: 6px 16px; border-radius: 20px;
        background-color: #EE2E5B; color: #fff; font-size: 12px;
        font-family: light_font_G;
        // letter-spacing: 1px;
        
        svg {
          width: 13px; fill: #fff;
        }
      }

      .login a {
        display: none;
        svg {width: 13px; fill: #fff;}
        span {margin-bottom: -5px; color: #fff;}
      }


      .all_menu_open a {
        svg {fill: #fff;}
      }
    }
  }
}

header.sub_header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
  .header_logo_wrap{
    a {
      background-image: url("../images/logo/logo.png");
    }

  }

  .header_btn_wrap {
    ul {
      .all_menu_open a {
        svg {fill: #333;}
      }
    }
  }


}


// 전체메뉴::Mobile
#all_menu_contain {
  width: 100%; height: 100%;
  position: fixed; top:0; left: 0; z-index: 15;
  background-color: #0D7ACF;
  display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
  display: none;
  overflow-y: auto;

  .all_menu_top_wrap {
    width: 100%; max-width: 1400px; padding: 0 16px;
    display: flex; justify-content: space-between; align-items: center;

    .all_menu_top{
      width: 100%; max-width: 180px;  height: 100px;

      a {
        width: 100%;  height: 100%;
        background-image: url("../images/logo/logo_W.png");
        background-repeat: no-repeat;
        background-position: center left;
        background-size:contain;
      }
    }  

    .all_menu_close {
      a {
        svg {
          width: 32px; 
          fill: #fff;
        }
      }
    }
  }

  .all_menu_wrap {
    width: 100%; max-width: 1400px; margin-top: 4px; margin-bottom: 24px;
    // border: 1px solid blue;
    // display:none;

    > ul.all_menu_list_wrap {
      display: flex; 
      // flex-direction: row; 
      flex-direction: column; 
      justify-content: flex-start; align-items: flex-start; 
      // gap: 40px;

      li.dep_01:first-child > a {border-top: 1px solid rgba(255, 255, 255, 0.8);}

      li.dep_01 {
        // background-color: #969696;
        flex-grow: 1;
        width: 100%;
        position: relative;

        > a {
          color: #fff; font-size: 20px; letter-spacing: 1px; 
          height: 100%;
          display: flex; justify-content: space-between; align-items: center;
          padding: 24px 16px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          svg{fill: #fff; display: block;}
        }

        > ul.drop_down {
            flex-direction: column; padding: 16px 0; 
            background-color: rgba(0, 0, 0, 0.2);
          position: relative;

            li {
              a {  
                color: #ddd;
                font-size: 16px;
                padding: 14px;
                transition: 0.4s;
                height: 100%; padding: 10px 0;
                display: flex; justify-content: center; align-items: center;
    
                &:hover {
                  color: #fff; 
                }
            }
          }
        }
      }
    }
    
  }
}


// 푸터::Mobile
footer {
  position: absolute; bottom: 0; right:0; z-index: 7; 
  width: 100%; background-color: #444;
  font-size: 14px;
  display: flex; flex-wrap: wrap; justify-content: center; align-items: flex-start;

  .footer_btn_wrap {
    width: 100%; background-color: #eee;

    ul {
      width: 100%; max-width: 1400px; margin: 0 auto;
      display: flex; flex-wrap: wrap; justify-content : space-evenly; align-items: center;
      
      li {
        padding: 14px 16px;
        text-align: center;
        width: 50%; 
        &:hover {}
      }
    }
  }

  .footer_info_wrap {
    width: 100%; max-width: 1400px;
    display: flex; flex-wrap: wrap; justify-content : center; align-items: center; gap: 24px;
    padding: 24px;

    .footer_logo_wrap{
      width: 180px; height: 100%; min-height: 49px;
      background-image: url("../images/logo/f_logo.png");
      background-repeat: no-repeat;
      background-position: top left;
      background-size:contain;
    }
    .footer_txt_wrap{
      text-align: center;
      color: #aaa;
      display: flex; flex-direction: column; gap: 4px;
      address {color: #aaa; font-size: 13px;}
      p { font-family: light_font_G;}
      p {color: #aaa; font-size: 11px;}
      .copyright {color: #969696; font-size: 11px;}
    }
  }
}


// 좌측사이드메뉴_dep01::Mobile
aside {
  background-color: #0D7ACF;
  width: 84px; height: 100vh;
  position: fixed; top: 0; left: 0; z-index: 14;
  display: none;


  .left_menu_wrap {
    width: 100%; height: 100%;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    .left_visual_menu_wrap, .left_direct_menu_wrap {
      width: 100%;
      ul {
        li.visual_dep01 {
          display: flex; flex-direction: column; gap:12px; justify-content: flex-end; align-items: center;
          padding: 12px 0; cursor: pointer; height: 85px;
          
          div {
            width: 100%; height: 100%;
            background-repeat: no-repeat; background-position: center center; background-size:auto;
          }

          &:nth-child(1) div {background-image: url("../images/icon_common/side_icon_1_1.svg");}
          &:nth-child(2) div {background-image: url("../images/icon_common/side_icon_1_2.svg");}
          &:nth-child(3) div {background-image: url("../images/icon_common/side_icon_1_3.svg");}
          &:nth-child(4) div {background-image: url("../images/icon_common/side_icon_1_4.svg");}
          &:nth-child(5) div {background-image: url("../images/icon_common/side_icon_1_5.svg");}
          &:nth-child(6) div {background-image: url("../images/icon_common/side_icon_1_6.svg");}
          
          p {color: #fff; font-size: 14px; text-align: center;}

          &:hover {&:nth-child(1) div {background-image: url("../images/icon_common/side_icon_1_1_b.svg");}}
          &:hover {&:nth-child(2) div {background-image: url("../images/icon_common/side_icon_1_2_b.svg");}}
          &:hover {&:nth-child(3) div {background-image: url("../images/icon_common/side_icon_1_3_b.svg");}}
          &:hover {&:nth-child(4) div {background-image: url("../images/icon_common/side_icon_1_4_b.svg");}}
          &:hover {&:nth-child(5) div {background-image: url("../images/icon_common/side_icon_1_5_b.svg");}}
          &:hover {&:nth-child(6) div {background-image: url("../images/icon_common/side_icon_1_6_b.svg");}}

          &:hover {
            background-color: rgba(255, 255, 255, 1);
            p {color:#0D7ACF;}
          }
        }

        li.direct_dep01 a {
          display: flex; flex-direction: column; gap:6px; justify-content: flex-end; align-items: center;
          padding: 12px 0; cursor: pointer; height: 90px;
          
          div {
            width: 100%; height: 100%;
            background-repeat: no-repeat; background-position: center center; background-size:auto;
          }

          &:nth-child(1) div {background-image: url("../images/icon_common/side_icon_2_1.svg");}
          &:nth-child(2) div {background-image: url("../images/icon_common/side_icon_2_2.svg");}
          &:nth-child(3) div {background-image: url("../images/icon_common/side_icon_2_3.svg");}
          
          p {color: #CFE4F5; font-size: 14px; text-align: center;}
          
          &:hover {&:nth-child(1) div {background-image: url("../images/icon_common/side_icon_2_1_b.svg");}}
          &:hover {&:nth-child(2) div {background-image: url("../images/icon_common/side_icon_2_2_b.svg");}}
          &:hover {&:nth-child(3) div {background-image: url("../images/icon_common/side_icon_2_3_b.svg");}}
          
          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            p{color: #053153;}
            
          }
        }

      }
    }

    .left_visual_menu_wrap {
      ul {
        margin-top: 50px; 
      }
    }

    .left_direct_menu_wrap {
      ul {
        background-color: rgba(0, 0, 0, 0.2);
        li {
          gap:6px; height: 90px;
        }
      }
    }
  }
}

// 좌측사이드메뉴_back::Mobile
.visual_back_modal {
  position: fixed; top:0; left: 0;
  width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
  display: none;
}

// 좌측사이드메뉴_dep02::Mobile
.visual_dep02_contain {
  position:fixed; top:0; 
  // left: 84px; 
  left: -220px;
  z-index: 13;
  background-color: #fff; box-shadow:  5px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  width: 220px; height: 100vh; padding: 16px 0; 
  display: flex; flex-direction: column; justify-content: flex-start; align-items: center;

  .visual_menu_close, .visual_dep02_top, .visual_dep02_menu li {width: 100%; padding: 0 8px;}

  .visual_menu_close {
    display: flex; justify-content: flex-end; align-items: center;
    a {
      svg {
        width: 28px; 
        fill: #0D7ACF;
        transition: 0.3s;
        &:hover {
          fill: #053153;
        }
      }
    }
  }

  .visual_dep02_top {
    .visual_dep02_top_icon {
      width: 100%; height: 80px; margin: 10px 0; 
      background-image: url("../images/icon_common/side_icon_1_1_b.svg");
      background-repeat: no-repeat; background-position: center center; background-size: auto;

      // &:nth-child(1) div {background-image: url("../images/icon_common/side_icon_1_1.svg");}
      // &:nth-child(2) div {background-image: url("../images/icon_common/side_icon_1_2.svg");}
      // &:nth-child(3) div {background-image: url("../images/icon_common/side_icon_1_3.svg");}
      // &:nth-child(4) div {background-image: url("../images/icon_common/side_icon_1_4.svg");}
      // &:nth-child(5) div {background-image: url("../images/icon_common/side_icon_1_5.svg");}
      // &:nth-child(6) div {background-image: url("../images/icon_common/side_icon_1_6.svg");}
    }
    .visual_dep02_top_title {
      font-size: 22px; text-align: center; padding: 16px; color: #053153;
      font-family: bold_font_G;
    }
  }

  .visual_dep02_menu {
    width: 100%; 
    li {
      &:first-child a {border-top: 1px solid rgba(0, 0, 0, 0.1);}
      a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 20px 8px 16px; 
        display: flex; justify-content: flex-start; align-items: center;

        &:hover {
          color: #0D7ACF;
        }

        span {
          background-color: rgba(13, 122, 207, 0.5);
          margin-right: 10px; margin-bottom: 4px;
          width: 16px; height: 16px; border-radius: 50%;
          display: flex; justify-content: center; align-items: center;

          &::after {
            content: ""; 
            box-sizing: "border-box";
            margin-left: -3px;
            width: 5px; height: 5px;
            display: inline-block;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            transform: rotate(45deg);
          }
        }
      }

    }
  }
}


// 좌측사이드메뉴_dep03::Mobile
.visual_dep03_contain {
  position: absolute; z-index: 12; top:150px; left: 304px;
  border-top-right-radius:16px;
  border-bottom-right-radius:16px;
  width: 400px; height: 450px;
  background-color: #fff;
  background-color: #fff; box-shadow:  5px 0 10px rgba(0, 0, 0, 0.1);
  display: flex; justify-content: center; align-items: center;
  overflow-y: hidden;

  img {width: 100%; margin-bottom: 16px;}
}

// 콘텐츠::600
@media screen and (min-width: 600px){
  // 푸터
  footer {
    .footer_btn_wrap {
      ul {
        li {
          width: auto;
        }
      }
    }
  }
  
}


// PC::1400
@media screen and (min-width: 1400px){

  // Main::PC
  main {
    .login_mobile {
      display: none;
    }
  }


  // 헤더::PC
  header.pc_header_scroll_d {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  
    .header_logo_wrap{
      a {
        background-image: url("../images/logo/logo.png");
      }
    }
  
    .header_btn_wrap {
      ul {
        .all_menu_open a {
          svg {fill: #333;}
        }
      }
    }
  
  }

  header {
    width: calc(100% - 84px); height: 60px; top:0; gap: 40px; margin-left: 84px;

    .header_logo_wrap{
      flex-grow: 2; height: calc(100% - 18px);
    }

    .gnb_menu_wrap {
      display: block;
    }

    .header_btn_wrap {
      ul {
        gap: 32px;

        .dr_btn a {
          display: block;
        }

        .login a {
          display: block; 
          svg {fill: #333;}
          span {color: #333;}
        }

        .all_menu_open a {
          svg {fill: #333;}
        }
      }
    }
  }


  // 전체메뉴:PC
  #all_menu_contain {
    .all_menu_login_contain {
      width: 100%; 
      background-color: rgba(0, 0, 0, 0.6);
      
      .all_menu_login_wrap {
        width: 100%; max-width: 1400px; height: 45px; margin: 0 auto; 
        display: flex; justify-content: flex-end; align-items: center;
      }
    }


    .all_menu_top_wrap {
      padding: 0 0px;
    }

    .all_menu_wrap {
      margin-top: 80px;

      > ul.all_menu_list_wrap {
        flex-direction: row; 
        // flex-direction: column; 
        gap: 40px;

        li.dep_01:first-child > a {
          border-top: none;
        }
        li.dep_01 {
          > a {
            font-size: 24px;
            justify-content: space-between; 
            padding: 24px 8px;

            svg {display: none;}
          }

          > ul.drop_down {
              background-color: transparent;
              li {
                a {  
                  color: #ddd; 
                  font-size: 18px;
                  padding: 10px 8px;
                  justify-content: flex-start;
              }
            }
          }
        }
      } 
    }
  }


  // 푸터::PC
  footer {
    width: 65%; 
    .footer_btn_wrap {
      ul {
        li {
        }
      }
    }

    .footer_info_wrap {
      justify-content : flex-start;

      .footer_txt_wrap{
        text-align: left;
      }
    }
  }

    // 서브페이지 푸터::PC
    footer.sub_footer {
      width: calc(100% - 84px); 
      .footer_btn_wrap {
        ul {
          li {
          }
        }
      }
  
      .footer_info_wrap {
        justify-content : center;
  
        .footer_txt_wrap{
          text-align: left;
        }
      }
    }

  // 좌측사이드메뉴::PC
  aside {
    display: block;
  }
}
