// 01_데이터개방



// 01_02_공공데이터목록
section {
  div.sub_section {
    .sub_cont_wrap {
      .sub_cont {
        // 01_01_공공데이터소개
        .sub_cont_inner.intro_dataportal_wrap {
          flex-direction: column-reverse;
          padding-left: 16px;
          
          // align-items: stretch;
          .intro_text_box {
            width: 100%;
            p {
              font-family: 'Noto Sans KR';
              color: #444;
              line-height: 1.5;
              margin-bottom: 16px;
              a {
                display: inline-block;
                color: #888;
                text-decoration: underline;
                &:hover {color: #0D7ACF}
              }
            }
          }

          .intro_img_box {
            width: 100%;
            min-height: 250px;
            background-image: url("../images/img_sub_cont/intro_img_m.png");
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 100% auto;
          }
        }

        // 01_02_공공데이터목록, 01_05_통합검색 공통 상단 데이터 검색 박스
        .sub_cont_inner.data_set_box_wrap {
          .data_set_box {
            gap: 32px;
            .data_set_1 {
              .data_set_check_box {
                gap: 12px 24px;
                label {
                  color: #666;
                  input {
                    margin-right: 4px;
                    margin-bottom: 3px;
                  }
                }
              }
            }
            .data_set_2 {
              .data_set_serch_box {
                // gap: 12px;
                select {}
              }
            }
          }
        }



        // 01_02_공공데이터목록, 01_03_데이터요청창구, 01_04_설문조사
        .sub_cont_inner.data_list_box_wrap {
          gap: 24px;
          // .data_list_select {gap: 12px; padding-bottom: 16px}
          // .data_list_total {
          //   font-size: 14px; 
          //   p {color: #888;}
          // }
          .data_list_box {
            gap: 16px;
            .data_list {
              width: 100%;
              gap: 16px;
              transition: 0.2s;
              .data_list_title_box {
                gap: 12px;
                .data_list_category_icon {
                  width: 55px; height: 55px;
                  border-radius: 50%;
                  border: 2px solid #0D7ACF;
                  background-image: url("../images/icon_sub_cont/data_category_06.png");
                  background-repeat: no-repeat; background-size: 80% auto; background-position: center;
                  }
                .data_list_title {
                  width: calc(100% - 67px);
                  .data_list_category {
                    font-size: 13px;
                    display: inline-block;
                    background-color: #E1F5FE;
                    padding: 8px 5px 3px; border-radius: 4px;margin-bottom : 8px;
                  }
                  h3 {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: 0.2s;
                  }
                }
              }
              .data_list_detail_box {
                padding-top: 16px;
                gap: 12px;
                p, span {
                  font-size: 14px;
                  font-family: 'Noto Sans KR';
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                p.text {width: 100%; font-size: 15px;}
                p.date, p.view, p.view>span {color: #888; font-weight: 500;}
                p.date {span{color: #0D7ACF;  margin-right: 4px;}}
                p.view {gap: 4px; svg {width: 17px; fill: #888;} span{margin-bottom: 1px;}}
              }

              &:hover {
                background-color: #fafafa;
                .data_list_category_icon {
                  // border: 3px solid #0D7ACF;
                  // border: 3px solid #003863;
                }
                h3 {text-decoration: underline; color: #003863;}
              }
            }
          }
        }


        // 01_02_01 공공데이터목록
        .sub_cont_inner.data_list_detail_chart_wrap {
          gap: 16px;
          .update_info_box {
            gap: 16px;
            width: 100%;
            p, span {
              font-size: 14px;
              font-family: 'Noto Sans KR';
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p.update_info, p.view_info, p.view_info>span {color: #888; font-weight: 500;}
            p.update_info {span{color: #0D7ACF;  margin-right: 4px;}}
            p.view_info {gap: 4px; svg {width: 17px; fill: #888;} span{margin-bottom: 1px;}}
          }
        }

        .sub_cont_inner.data_connection_list_wrap {
          gap: 12px;
          .data_connection_list {
            width: 100%;
            gap: 16px;
            transition: 0.2s;
            .data_connection_list_title_box {
              width: 100%;
              .data_connection_list_title {
                width: 100%;
                .data_connection_list_category {
                  font-size: 13px;
                  display: inline-block;
                  background-color: #E1F5FE;
                  padding: 10px 10px 6px; border-radius: 4px; margin-bottom : 12px;
                }
                h3 {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
            .data_connection_list_detail_box {
              padding-top: 16px;
              width: 100%;
              p {
                width: 100%; font-size: 15px; line-height: 1.2; color: #555;
                font-family: 'Noto Sans KR';
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                // white-space: nowrap;
                text-overflow: ellipsis;
              }
            }

            &:hover {
              background-color: #fafafa;
            }
          }
        }


        // 01_05_통합검색
        .sub_cont_inner.integrated_search_list_box_wrap {
          gap: 24px;
          .serch_open_data_list_box {
            width: 100%;
            gap: 48px;
            .serch_open_data_list {
              width: 100%;
              border-bottom: 1px solid #ddd;
              .integrated_search_title {
                height: 45px;
                width: 100%;
                padding-left: 16px;
                border-bottom: 1px solid #0D7ACF;
                background-color: #0D7ACF;
                div {
                  gap: 24px;
                  h3, span {
                    margin-bottom: -4px;
                    color: #fff;
                  }
                  span {
                    font-family: light_font_G;
                    font-size: 14px;
                    color: #fefefe;
                    span { color:#ffd152; font-weight: 600;}
                  }
                  
                }
                button {
                  width: 22px;
                  height: 22px;
                  background-color: transparent;
                  border: none;
                  margin-right: 10px;
                  background-image: url(../images/icon_main_cont/plus-solid_w.svg);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  cursor: pointer;
                  transition: 0.2s;
                  &:hover {background-image: url(../images/icon_main_cont/plus-solid_sb.svg);}
                }
              }
              ul.integrated_search_list {
                padding: 16px;
                li {
                  padding: 16px 0;
                  gap: 26px;
                  a {
                    width: 100%; 
                    .list_text_box {
                      gap: 8px;
                      width: 100%; 
                      .search_data_title, .search_data_detail, .search_data_nav {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: 0.3s;
                      }
                      .search_data_detail, .search_data_nav {
                        font-family: "Noto Sans KR";
                        font-size: 16px;
                        color: #777;
                      }
                      .search_data_nav {color: #0D7ACF; font-size: 14px; font-weight: 500;}
                    }

                    &:hover {
                      .list_text_box {
                        .search_data_title {
                          color: #0b5fa0; padding-left: 16px;
                          background-image: url("../images/icon_sub_cont/caret-right-solid.svg");
                          background-repeat: no-repeat; background-position: bottom 2px left; background-size: auto;
                      }

                      }
                  }
                  }
                }
              }
            }
          }


        }


      }
    }
  }
}


// 서브콘텐츠::600
@media screen and (min-width: 600px){
  section{
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {

          // 01_01_공공데이터소개
          .sub_cont_inner.intro_dataportal_wrap {
            .intro_img_box {
              min-height: 280px;
              background-position: top center;
              background-size: 70% auto;
          }
          }

          // 01_02_공공데이터목록
          .sub_cont_inner.data_list_box_wrap {
            .data_list_box {
              .data_list {
                width: calc((100% / 2) - 8px);
              }
            }
          }

          // 01_02_01 공공데이터목록
          .sub_cont_inner.data_connection_list_wrap {
            .data_connection_list {
              width: calc((100% / 2) - 6px);
            }
          }
        }
      }
    }
  }
}




// 서브콘텐츠::920
@media screen and (min-width: 920px){
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 01_01_공공데이터소개
          .sub_cont_inner.intro_dataportal_wrap {
            flex-direction: row;
            padding-left: 16px;
            align-items: stretch;
            .intro_text_box {
              width: 50%;
            }
            .intro_img_box {
              width: 50%; 
              background-image: url("../images/img_sub_cont/intro_img.png");
              background-size: auto 100%;
              background-position: center left;
            }
          }

          // 01_02_공공데이터목록
          .sub_cont_inner.data_list_box_wrap {
            .data_list_box {
              .data_list {
              }
            }
          }

          // 01_02_01 공공데이터목록
          .sub_cont_inner.data_connection_list_wrap {
            .data_connection_list {
              width: calc((100% / 4) - 9px);
            }
          }
        }
      }
    }
  }
}


// 서브콘텐츠::1024
@media screen and (min-width: 1024px){

  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 01_01_공공데이터소개
          .sub_cont_inner.intro_dataportal_wrap {
            .intro_text_box {
              width: 60%;
            }
            .intro_img_box {
              width: 40%; 
              background-size: auto 125%;
            }
          }


        }
      }
    }
  }
          
}


// 서브콘텐츠::1440(PC)
@media screen and (min-width: 1400px){
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 01_02_공공데이터목록
          .sub_cont_inner.data_list_box_wrap {
            .data_list_box {
              .data_list {
                width: calc((100% / 3) - 12px);
              }
            }
          }


        }
      }
    }
  }
  
}