// 서브공통
// 서브콘텐츠::Mobile
section {
  div.sub_section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 10px;
    padding-top: 90px;
    padding-bottom: 300px;
  }


  .sub_top_wrap, .sub_cont_wrap {
    width: 100%;
  }
  .sub_top_wrap .sub_top, .sub_cont_wrap .sub_cont {
    width: 100%; max-width: 1400px; margin: 0 auto; 
  }

  .sub_top_wrap {
    .sub_top {
      padding: 56px 0 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .sub_top_title {
        text-align: center; margin-bottom: 16px;
        h1 {
          display: inline-block;
          padding: 18px;
          background-image: url("../images/icon_sub_cont/sub_title_common.png");
          background-repeat: no-repeat; background-position: top left; background-size: auto 59%;
          }
        }
      .sub_top_navgation {
        display: flex; align-items: center; justify-content: flex-end;
        > a {
          svg {fill: #999; height: 16px;}
        }
        span {
          display: flex; align-items: center; justify-content: flex-end;
          p {color: #999; font-size: 14px; margin: 0 4px;}
        }
        
      }
    }
  }


  .sub_cont_wrap {
    .sub_cont {
      padding: 32px 0 72px; 

      .sub_cont_title:nth-child(1) {padding-top: 16px;}
      
      h2.sub_cont_title {
        padding-top: 32px;
        &::before {
          content: "";
          display: inline-block;
          width: 5px; height: 5px; 
          border: 4px solid #0D7ACF; 
          border-radius: 50%; 
          margin-right: 6px;
        }
      }
      .sub_cont_inner {
        padding-top: 18px; margin-bottom: 32px; gap: 24px;

        .summary_direct_bt_box {
          text-align: center;
          gap: 18px;
          p {
            line-height: 1.5;
          }
          .btn_square_navy {}
        }
      }

      h2.sub_cont_sub_title {
        position: relative;
        padding-left: 10px;
        &::before {
          content: "";
          display: inline-block;
          width: 3px; height: 19px; 
          background-color: #0D7ACF;
          margin-right: 6px;
          position: absolute;
          top: 0; left:0;
        }
      }
      .db_visual_detail_inner {
        margin-bottom: 72px;
        &:last-child {margin-bottom: 0px;}
        .sub_num_title {
          position: relative;
          padding-left: 32px;
          display: flex;
          margin-bottom: 18px;

          .num {
            font-size: 15px;
            text-align: center;
            color: #fff;
            width: 25px; 
            height: 24px;
            text-align: center;
            padding-top: 4px;
            padding-bottom:1px;
            background-color: #0D7ACF;
            border-radius: 4px;
            margin-right: 6px;
            position: absolute;
            top: -5px; left:0; 
          }
          .line {
            background-color: #ddd;
            flex-grow: 1;
            height: 1px;
            margin-top: 7px;
            margin-left: 14px;
          }
        }

        ul.db_visual_detail_content.chart_box_6 li.db_visual_chart_box {min-width: calc((100% / 6) - 16px);}
        ul.db_visual_detail_content.chart_box_4 li.db_visual_chart_box {min-width: calc((100% / 4) - 15px);}
        ul.db_visual_detail_content.chart_box_3 li.db_visual_chart_box {min-width: calc((100% / 3) - 12px);}
        ul.db_visual_detail_content.chart_box_2 li.db_visual_chart_box {min-width: calc((100% / 2) - 12px);}
        ul.db_visual_detail_content.chart_box_1 li.db_visual_chart_box {
          min-width: 100%;
          .db_visual_chart {
            height: 30px;
          }
        }

        .db_visual_detail_content {
          width: 100%;
          margin-bottom: 32px;
          gap: 18px;
          li.db_visual_chart_box {
            gap: 12px;

            .db_visual_chart {
              width: 100%; height: 200px;
              img {height: 100%;}
            }
            .db_visual_title {
              background-color: #053153;
              color: #fff;
              font-size: 13px;
              padding: 6px 18px 4px;
              border-radius: 14px;
              
            }
          }

          li.db_visual_text_box {
            width: 100%;
            padding-left: 30px;
            font-family: 'Noto Sans KR';
            position: relative;

            &::before {
              content: "";
              display: inline-block;
              width: 5px; height: 5px; 
              // border: 4px solid #0D7ACF; 
              background-color: #9fb7ca;
              border-radius: 50%; 
              margin-right: 6px;
              position: absolute;
              top: 8px; left:18px; 
            }
          }
        }

        ul.db_visual_detail_content.db_visual_text_content {
          gap: 11px;
        }
      }
    }
  }
}

// 서브콘텐츠::600
@media screen and (min-width: 600px){
  section{
    div.sub_section {
      padding: 12px;
      padding-top: 90px;
      padding-bottom: 210px;
    }
  }
  
}

// 서브콘텐츠::1024
@media screen and (min-width: 1024px){
  section {
    div.sub_section {
      padding-bottom: 140px;
    }
  }
}


// 서브콘텐츠::1440(PC)
@media screen and (min-width: 1400px){
  section {
    div.sub_section {
      width: 100%;
      padding: 16px;
      padding-top: 60px;
      padding-left: 98px;
      padding-bottom: 140px;
    }
  }  
}