// 03_통계마당

// 서브콘텐츠::Mobile


section{
  div.sub_section {
    .sub_cont_wrap {
      .sub_cont {
        // 03_01_통계보고서
        .sub_cont_inner.sub_intro_box_wrap {
          .sub_intro_box {
            padding: 16px 32px;
            .intro_icon_inner_box {
              padding: 16px 0;
              padding-left: 86px;
              gap: 12px;
              background-image: url("../images/logo/sub_icon_report.png");
              background-repeat: no-repeat;
              background-position: left center;
              background-size: 70px;
            }
          }
        }

        .sub_cont_inner.report_list_box_wrap {
          ul.report_list_contain {
            gap: 16px;

            li.report_list_box {
              width: 100%; 
              a.report_list_title {
                height: 45px;
                width: 100%;
                padding-left: 16px;
                background-color: #888;
                gap: 10px;
                  h3, h4, h4>span  {
                    margin-bottom: -4px;
                    color: #fff;
                  }
                  h3 {
                    color: #ffd152;
                    flex-grow: 1;
                    padding-left: 16px;
                    background-image: url("../images/icon_sub_cont/caret-right-solid_y.svg");
                    background-repeat: no-repeat;
                    background-position: left top -1px;
                    background-size: 8px;
                    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                    font-size: 16px;
                  }
                  h4 {display: flex; flex-direction: column; gap: 8px; min-width: 76px; font-size: 14px;}
                  h4>span {font-size: 10px;}

                button {
                  width: 45px;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.1);
                  border: none;
                  background-image: url(../images/icon_main_cont/plus-solid_w.svg);
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: 22px;
                  cursor: pointer;
                  transition: 0.2s;
                  &:hover {background-image: url(../images/icon_main_cont/plus-solid_y.svg);}
                }

              }

              ul.report_list {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 1px solid #ddd;
                background-color: #f8fcff;
                display: none;
                p {font-size: 14px;}

                li {
                  padding: 16px;
                  gap: 12px;
                  align-items: stretch;
                  a {display: flex;justify-content: center; align-items: flex-start;}
                  a.report_list_check {
                    width: 100%; 
                    padding: 14px 16px;
                    background-color: #fff;
                    background-image: url("../images/icon_sub_cont/circle-check-regular_lg.svg");
                    background-repeat: no-repeat;
                    background-position: center right 16px;
                    background-size: 24px;
                    p {margin-bottom: -4px;}
                    &:hover {
                      background-color: #f5f5f5;
                      background-image: url("../images/icon_sub_cont/circle-check-solid_lg.svg");
                    }
                    &.active {
                      background-image: url("../images/icon_sub_cont/circle-check-solid_b.svg");
                    }
                  }
                }

                &.report_list_result {
                  li {
                    a.report_list_result_down {
                      width: 100%; 
                      padding: 14px 16px 14px 40px;
                      background-color: #fff;
                      background-image: url("../images/icon_sub_cont/download-solid_lg.svg");
                      background-repeat: no-repeat;
                      background-position: center left 16px;
                      background-size: 16px;

                      p {margin-bottom: -4px;}
                      &:hover {
                        background-color: #f5f5f5;
                        background-image: url("../images/icon_sub_cont/download-solid_b.svg");
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }

            li.report_list_box.active {
              a.report_list_title {
                background-color: #0D7ACF;
                button {
                  background-image: url(../images/icon_main_cont/minus-solid_w.svg);
                  &:hover {background-image: url(../images/icon_main_cont/minus-solid_y.svg);}
                }

              }
            }
          }
        }

        // 03_02_통계DB
        .sub_cont_inner.db_visual_wrap {
          gap: 16px;
          .db_visual_box {
            width: 100%;
            height: 280px;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;

            .inner_top {
              width: 100%; height: 100px; padding: 16px 8px;
              display: flex; flex-direction: column; justify-content: space-between; align-items: center;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              .db_visual_box_ci {
                width: 90px; height: 35px;
                background-image: url("../images/logo/sub_cont_ci_01.png");
                background-repeat: no-repeat; background-position: center; background-size: 100% auto;
              }
              h2 {}
            }
            .inner_bottom {
              width: 100%; height: calc(100% - 100px); background-color: #efefef;
              background-repeat: no-repeat; background-position: center; background-size: auto 90%;
              position: relative;

              .db_visual_box_modal {
                background-color: rgba(0, 0, 0, 0.8); 
                width: 100%; height: 100%; display: block;
                display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px;
                position: absolute; bottom: -100%; left: 0;
                transition: 0.2s;
              }
            }

            &:hover .inner_bottom .db_visual_box_modal {bottom: 0;}

            &:nth-child(1) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_1_1.png");
              .db_visual_box_modal > div {
                background-color: #5529af;
                &:hover {background-color: #6638c4;}
              }
            }
            &:nth-child(2) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_2_1.png");
              .db_visual_box_modal > div {
                background-color: #e73470;
                &:hover {background-color: #fc4280;}
              }
            }
            &:nth-child(3) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_3_1.png");
              .db_visual_box_modal > div {
                background-color: #4a5cbd;
                &:hover {background-color: #5466cc;}
              }
            }
            &:nth-child(4) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_4_1.png");
              .db_visual_box_modal > div {
                background-color: #f89500;
                &:hover {background-color: #ffa217;}
              }
            }
            &:nth-child(5) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_1_1.png");
              .db_visual_box_modal > div {
                background-color: #5529af;
                &:hover {background-color: #6638c4;}
              }
            }
            &:nth-child(6) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_2_1.png");
              .db_visual_box_modal > div {
                background-color: #e73470;
                &:hover {background-color: #fc4280;}
              }
            }
            &:nth-child(7) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_3_1.png");
              .db_visual_box_modal > div {
                background-color: #4a5cbd;
                &:hover {background-color: #5466cc;}
              }
            }
            &:nth-child(8) .inner_bottom {
              background-image: url("../images/img_visualization/main_db_visual_4_1.png");
              .db_visual_box_modal > div {
                background-color: #f89500;
                &:hover {background-color: #ffa217;}
              }
            }
          }
        }


        // 03_02_02_통계DB_02.전주시사회조사
        .sub_cont_inner.db_visual_detail_dw_wrap {
          .db_visual_dw_box {
            text-align: center;
            gap: 16px;
            p {margin-bottom: -4px;}
            .btn_square_navy {}
          }
        }
        

        // 03_03_통계 E-Book
        .sub_cont_inner.data_set_box_wrap {
          .data_set_box {
            .data_set_3 {
              .data_set_serch_box {
                select {width: 100%;}
              }
            }
          }
        }

        .sub_cont_inner.ebook_list_wrap {
          .ebook_list_box {
            gap: 32px 16px;
            width: 100%;
            a.ebook_list {
              width: calc((100% / 5) - 13px);
              gap: 12px;
              .ebook_list_img_box {
                width: 100%;
                height: 350px;
                background-position: top -12px center;
                background-size: 100%;
                background-repeat: no-repeat;
                overflow: hidden;

                .ebook_list_modal {
                  width: 100%; height: 100%;
                  background-color: rgba(13, 123, 207, 0.7); 
                  background-image: linear-gradient(315deg, rgba(127, 83, 172, 0.7) 0%, rgba(13, 123, 207, 0.2) 70%);
                  display: flex; justify-content: center; align-items: center;
                  transition: 0.2s;
                  opacity: 0;
                }
              }

              &:hover {
                p {text-decoration: underline;}
                .ebook_list_img_box .ebook_list_modal {
                  opacity: 1;
                }
              }

              &:nth-child(1) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_01.jpg");}
              &:nth-child(2) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_02.jpg");}
              &:nth-child(3) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_03.jpg");}
              &:nth-child(4) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_04.jpg");}
              &:nth-child(5) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_05.jpg");}
              &:nth-child(6) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_06.jpg");}
              &:nth-child(7) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_07.jpg");}
              &:nth-child(8) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_08.png");}
              &:nth-child(9) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_09.png");}
              &:nth-child(10) .ebook_list_img_box {background-image:url("../images/img_sub_cont/ebook_10.png");}
            }
          }
        }

        // 03_04_통계조사안내
        .sub_cont_inner.research_list_box_wrap {
          ul.research_list_contain {
            // gap: 16px;

            .research_list_box:nth-child(1) .research_list_title {border-top: 1px solid #ddd; }

            li.research_list_box {
              width: 100%; 
              border-bottom: 1px solid #ddd; 
              flex-wrap: wrap;

              .research_list_title {
                min-height: 100px;
                padding: 16px;
                background-color: #fff;
                gap: 10px;
                cursor: pointer;
                transition: 0.2s;
                flex-wrap: wrap;

                h3 {
                  margin-bottom: -4px;
                  flex-basis: 250px;
                  order: 0;
                }
                .research_list_summary {
                  background-color: #f7f7f7;
                  gap: 12px;
                  padding: 16px;
                  align-items: stretch;
                  order: 1;
                  width: 100%;
                  li {
                    // width: calc(50% - 12px);
                    width: 100%;
                    margin-bottom: -4px;
                    p {
                      font-size: 15px;
                      color: #444;
                      span {
                      color: #666;
                      // font-fami]ly: 'Noto Sans KR';
                      }
                    }
                  }
                }
                .down_icon {
                  flex-basis: 50px;
                  order: 0;
                  button {
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    border: none;
                    background-image: url("../images/icon_sub_cont/chevron-down-solid_lg.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 22px;
                    cursor: pointer;
                    transition: 0.2s;
                  }
                }
                &:hover div button {background-image: url("../images/icon_sub_cont/chevron-down-solid_b.svg");}


              }

              ul.research_list {
                display: none;
                padding: 24px 16px;
                
                li {
                  align-items: stretch;
                  gap: 24px;
                  .research_list_detail {
                    // width: calc((100% / 3) - 8px); 
                    width: 100%; 
                    background-color: #fff;
                    gap: 8px;
                    p.sub_title {
                      font-size: 16px;
                      padding-left: 18px;
                      background-image: url("../images/icon_sub_cont/circle-chevron-right-solid_lg.svg");
                      background-position: top left;
                      background-size: 13px;
                      background-repeat: no-repeat;
                    }
                    p.sub_text {
                      font-size: 16px; 
                      line-height: 1.2;
                      font-family: 'Noto Sans KR';
                      color: #555;
                      padding-left: 18px;
                    }

                  }
                }

              }
            }

            .research_list_box .research_list_title.active {
              background-color: #eeeeee;
              &:hover div button {background-image: url("../images/icon_sub_cont/chevron-down-solid_b.svg");}
              div {
                button {
                  transform: rotate( -180deg ); transform-origin: center;
                }
              }
            }
          }
        }
      }
    }
  }
}









// 서브콘텐츠::600
@media screen and (min-width: 600px){
  section{
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 03_01_통계보고서
          .sub_cont_inner.report_list_box_wrap {
            ul.report_list_contain {
              li.report_list_box {
                a.report_list_title {
                  h3 {
                    font-size: 18px;
                  }
                  h4 {flex-direction: row; font-size: 16px;}
                  h4>span {font-size: 16px;}
                }
                ul.report_list {
                  li {
                    a.report_list_check {
                      width: calc((100% / 2) - 8px); 
                    }
                  }
                  &.report_list_result {
                    li {
                      a.report_list_result_down {
                      }
                    }
                  }
                }
              }
            }
          }

          // 03_02_통계DB
          .sub_cont_inner.db_visual_wrap {
            gap: 32px 16px;
            .db_visual_box {
              width: calc((100% / 2) - 8px);
              height: 300px;
            }
          }
          // 03_03_통계 E-Book
          .sub_cont_inner.data_set_box_wrap {
            .data_set_box {
              .data_set_3 {
                .data_set_serch_box {
                  select {width: calc(50% - 67px);}
                }
              }
            }
          }

          // 03_04_통계조사안내
          

        }
      }
    }
  }
}

// 서브콘텐츠::920
@media screen and (min-width: 920px){
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 03_01_통계보고서  
          .sub_cont_inner.report_list_box_wrap {
            ul.report_list_contain {
              li.report_list_box {
                ul.report_list {
                  li {
                    a.report_list_check {
                      width: calc((100% / 3) - 8px); 
                    }
                  }
                  &.report_list_result {
                    li {
                      a.report_list_result_down {
                        width: calc((100% / 2) - 6px); 
                      }
                    }
                  }
                }
              }
            }
          }

          // 03_02_통계DB
          .sub_cont_inner.db_visual_wrap {
            .db_visual_box {
              width: calc((100% / 3) - 11.5px);
            }
          }

          // 03_04_통계조사안내  
          .sub_cont_inner.research_list_box_wrap {
            ul.research_list_contain {
              li.research_list_box {
                flex-wrap: nowrap;
                .research_list_title {
                  .research_list_summary {
                    order: 0;
                    width: auto;
                    flex: 1;
                  li {
                      width: calc(50% - 12px);
                    }
                  }
                }
                ul.research_list {
                  li {
                    .research_list_detail {
                      // width: calc((100% / 3) - 8px); 
                      width: 100%; 
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

// 서브콘텐츠::1024
@media screen and (min-width: 1024px){
  





}

// 서브콘텐츠::1060
@media screen and (min-width: 1060px){
  
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 03_01_통계보고서
          .sub_cont_inner.report_list_box_wrap {
            ul.report_list_contain {
              li.report_list_box {
                ul.report_list {
                  li {
                    a.report_list_check {
                      width: calc((100% / 4) - 9px); 
                    }
                  }
                  &.report_list_result {
                    li {
                      a.report_list_result_down {
                        width: calc((100% / 3) - 9px); 
                      }
                    }
                  }
                }
              }
            }
          }

          // 03_04_통계조사안내  
          .sub_cont_inner.research_list_box_wrap {
            ul.research_list_contain {
              li.research_list_box {
                ul.research_list {
                  padding: 32px 24px;
                  li {
                    .research_list_detail {
                      width: calc((100% / 3) - 16px); 
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }



}

// 서브콘텐츠::1440(PC)
@media screen and (min-width: 1400px){
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 03_02_통계DB
          .sub_cont_inner.db_visual_wrap {
            .db_visual_box {
              width: calc((100% / 4) - 12px);

            }
          }
        }
      }
    }
  }
  
}