// 01_데이터개방

// 01_02_공공데이터목록
section {
  div.sub_section {
    .sub_cont_wrap {
      .sub_cont {
        // 01_02_공공데이터목록
        .sub_cont_inner.data_set_box_wrap {
          .data_set_box {
            gap: 32px;
            .data_set_1 {
              .data_set_check_box {
                gap: 12px 24px;
                label {
                  color: #666;
                  input {
                    margin-right: 4px;
                    margin-bottom: 3px;
                  }
                }
              }
            }
            .data_set_2 {
              .data_set_serch_box {
                gap: 12px;
                select {}

              }
            }
          }
        }

        .sub_cont_inner.data_list_box_wrap {
          gap: 24px;
          div {width: 100%;}
          .data_list_select {gap: 12px; padding-bottom: 16px}
          .data_list_total {
            font-size: 14px; 
            p {color: #888;}
          }
          .data_list_box {
            gap: 12px;
            .data_list {
              width: 100%;
              gap: 16px;
              .data_list_title_box {
                gap: 12px;
                .data_list_category_icon {
                  width: 55px; height: 55px;
                  border-radius: 50%;
                  border: 2px solid #0D7ACF;
                  background-image: url("../images/icon_sub_cont/data_category_06.png");
                  background-repeat: no-repeat; background-size: 80% auto; background-position: center;
                  }
                .data_list_title {
                  width: calc(100% - 67px);
                  .data_list_category {}
                  h3 {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
              .data_list_detail_box {
                padding-top: 16px;
                // margin-top: 16px;
                gap: 12px;
                p, span {
                  font-size: 14px;
                  font-family: 'Noto Sans KR';
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                p.text {width: 100%; font-size: 15px;}
                p.date, p.view, p.view>span {color: #888; font-weight: 600;}
                p.date {span{color: #0D7ACF;  margin-right: 4px;}}
                p.view {gap: 4px; svg {width: 17px; fill: #888;} span{margin-bottom: 1px;}}
              }
            }
          }
        }


        // 01_02_01 공공데이터목록
        .sub_cont_inner.db_list_detail_chart_wrap {
          gap: 16px;
          .update_info_box {
            gap: 16px;
            width: 100%;
            p, span {
              font-size: 14px;
              font-family: 'Noto Sans KR';
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            p.date_info, p.view_info, p.view_info>span {color: #888; font-weight: 600;}
            p.update_info {span{color: #0D7ACF;  margin-right: 4px;}}
            p.view_info {gap: 4px; svg {width: 17px; fill: #888;} span{margin-bottom: 1px;}}
          }
        }

        .sub_cont_inner.db_connection_list_wrap {}


      }
    }
  }
}


// 서브콘텐츠::600
@media screen and (min-width: 600px){
  section{
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
        // 01_02_공공데이터목록
          .sub_cont_inner.data_list_box_wrap {
            .data_list_box {
              .data_list {
                width: calc((100% / 2) - 6px);
              }
            }
          }
        }
      }
    }
  }
}

// 서브콘텐츠::920
@media screen and (min-width: 920px){
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 01_02_공공데이터목록
          .sub_cont_inner.data_list_box_wrap {
            .data_list_box {
              .data_list {
                width: calc((100% / 2) - 6px);
              }
            }
          }
        }
      }
    }
  }
}

// 서브콘텐츠::1024
@media screen and (min-width: 1024px){
  
}

// 서브콘텐츠::1440(PC)
@media screen and (min-width: 1400px){
  section {
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 01_02_공공데이터목록
          .sub_cont_inner.data_list_box_wrap {
            .data_list_box {
              .data_list {
                width: calc((100% / 3) - 8px);
              }
            }
          }
        }
      }
    }
  }
  
}