section {
  div.sub_section {
    .sub_cont_wrap {
      .sub_cont {

        // 99_01_개인정보처리방침
        .sub_cont_inner.list_privacy_wrap {
          .privacy_list_tab_box {display: flex; flex-wrap:wrap; align-items: stretch; justify-content: space-between;}
          .privacy_list_tab_box li {width: calc(50% - 7.5px); margin-bottom:10px; background-repeat: no-repeat; background-position: 16px center; background-size: 20px auto;}
          .privacy_list_tab_box li:nth-child(1) {background-image: url('../images/icon_sub_cont/pri_icon_1.png')}
          .privacy_list_tab_box li:nth-child(2) {background-image: url('../images/icon_sub_cont/pri_icon_2.png')}
          .privacy_list_tab_box li:nth-child(3) {background-image: url('../images/icon_sub_cont/pri_icon_3.png')}
          .privacy_list_tab_box li:nth-child(4) {background-image: url('../images/icon_sub_cont/pri_icon_4.png')}
          .privacy_list_tab_box li:nth-child(5) {background-image: url('../images/icon_sub_cont/pri_icon_5.png')}
          .privacy_list_tab_box li:nth-child(6) {background-image: url('../images/icon_sub_cont/pri_icon_6.png')}
          .privacy_list_tab_box li:nth-child(7) {background-image: url('../images/icon_sub_cont/pri_icon_7.png')}
          .privacy_list_tab_box li:nth-child(8) {background-image: url('../images/icon_sub_cont/pri_icon_8.png')}
          .privacy_list_tab_box li:nth-child(9) {background-image: url('../images/icon_sub_cont/pri_icon_9.png')}
          .privacy_list_tab_box li:nth-child(10) {background-image: url('../images/icon_sub_cont/pri_icon_10.png')}
          .privacy_list_tab_box li:nth-child(11) {background-image: url('../images/icon_sub_cont/pri_icon_11.png')}
          .privacy_list_tab_box li:nth-child(12) {background-image: url('../images/icon_sub_cont/pri_icon_12.png')}
          .privacy_list_tab_box li a {
            height: 100%; display: flex; align-items: center;
            border:1px solid #ddd; border-radius: 4px; padding: 10px 15px; padding-left:50px;  font-weight: 500; cursor:pointer; transition:0.3s;

          }
          .privacy_list_tab_box li a:hover {border:1px solid #0d7acf;}
        }

        .sub_cont_inner.cont_privacy_box {
          strong, .st_text {color: #404a6f; font-weight: 600;}
          p {line-height: 1.5;}

          .privacy_wrap {
            gap: 64px;

            .privacy_box {
              width: 100%;
              display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
              gap: 12px;

              h3{font-weight: 600;}
              h6{font-size:0.9em; margin:20px 0 10px 0; color: #3e6c8f;}
              a {
                display: inline-block; 
                &:hover {text-decoration: underline; color: #0d7acf;}
              }
              .privacy_text_box {
                width: 100%;
                padding-left: 14px;
              }

              .num{
                width: 100%;
                border:3px solid #f5f5f5; margin:10px 0; padding: 18px;
                display: flex; flex-direction: column; gap: 12px; justify-content: flex-start; align-items: flex-start;
                p {padding-left: 19px;}
              }
              .box {
                margin:10px 0;  border: 1px solid #ddd;  background-color: #f8f8f8;  padding: 18px;  margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                justify-content: flex-start;
                align-items: flex-start;
              }
              .dot {
                width: 100%;
                li {
                  position: relative;
                  // padding: 0;
                  padding-left: 16px;
                  &::before {
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    border-radius: 0%;
                    -webkit-border-radius: 0%;
                    background: #0d7acf;
                    content: "";
                  }
                }
              }
            }

            .privacy_bottom_box {
              width: 100%; padding-top: 48px;
              a { display: inline-block;}
            }

            .blt {font-size: 1.2em; color: #0d7acf; padding: 10px 0 0 0; margin: 40px 0 20px 0; line-height: 1.2em;}
            .blt::before{content: '';   display:block; width: 15px;  height: 15px;  border: 3px solid #0d7acf; border-radius: 5px; float: left; margin:4px 5px 0 0;}
            .download li{display:inline; margin:30px 15px 0 0; color:#fff; background:#0d7acf; border-radius:10px; padding:5px 5px; text-align: center;}
            .saechang img{margin:6px 0 0 10px; width:15px}
            .list_ul.under_line li:hover{text-decoration: underline; color:#0d7acf}
            .num.under_line span:hover{text-decoration: underline; color:#0d7acf}
            
          }
        }

        // 99_02_이메일무단수집거부
        .sub_cont_inner.info_email_wrap {
          .intro_privacy_email_box {
            line-height: 1.5;
          }

        }

        // 99_04_통계관련사이트
        .sub_cont_inner.cont_stie_wrap {
          gap: 18px;
          .site_bt_box {
            width: 100%;
            &:nth-child(1) .site_logo_box {background-image: url("../images/logo/site_01.jpg");}
            &:nth-child(2) .site_logo_box {background-image: url("../images/logo/site_02.jpg");}
            &:nth-child(3) .site_logo_box {background-image: url("../images/logo/site_03.jpg");}
            &:nth-child(4) .site_logo_box {background-image: url("../images/logo/site_04.jpg");}
            &:nth-child(5) .site_logo_box {background-image: url("../images/logo/site_05.jpg");}
            &:nth-child(6) .site_logo_box {background-image: url("../images/logo/site_06.jpg");}
            &:nth-child(7) .site_logo_box {background-image: url("../images/logo/site_07.jpg");}
            &:nth-child(8) .site_logo_box {background-image: url("../images/logo/site_08.jpg");}
            &:nth-child(9) .site_logo_box {background-image: url("../images/logo/site_09.png");}

            .site_logo_box {
              height: 100px;
              background-repeat: no-repeat;
              background-position: center;

            }
            .site_title_box {
              height: 50px;
            }

            &:hover {border: 1px solid #333;}
          }
        }


      }
    }
  }
}

// 서브콘텐츠::600
@media screen and (min-width: 400px){
  section{
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          // 99_04_통계관련사이트
          .sub_cont_inner.cont_stie_wrap {
            .site_bt_box {
              width: calc((100% / 2) - 18px);
              .site_logo_box {
              }
              .site_title_box {
              }
            }
          }
        }
      }
    }
  }
}


// 서브콘텐츠::600
@media screen and (min-width: 600px){
  section{
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {
          
          // 99_02_이메일무단수집거부
          .sub_cont_inner.info_email_wrap {
            .intro_privacy_email_box {
              padding-left: 140px;
              background-image: url("../images/icon_sub_cont/mail_99.png");
              background-repeat: no-repeat;
              background-position: left 32px center;
              background-size: auto 80px;
            }
          }

          

        }
      }
    }
  }
}




// 서브콘텐츠::800
@media screen and (min-width: 800px){
  section{
    div.sub_section {
      .sub_cont_wrap {
        .sub_cont {

          // 99_04_통계관련사이트
          .sub_cont_inner.cont_stie_wrap {
            .site_bt_box {
              width: calc((100% / 3) - 12px);
              .site_logo_box {
                height: 100px;
              }
              .site_title_box {
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}