// paging_box
.sub_paging_wrap {
  padding-top: 16px;
  &, ul.sub_pasing_box {gap: 11px;}
  button, ul.sub_pasing_box li a {
    width: 28px; height: 28px;
    font-size: 13px; color: #777;
    // font-family: 'Noto Sans KR'; 
    display: flex; justify-content: center; align-items: center;
    cursor: pointer;
  }
  button {
    border: none; width: 18px;
    background-color: transparent;
    background-repeat: no-repeat; background-position: center;
    &.first_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_fist.png");}
    &.prev_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_prev.png");}
    &.next_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_next.png");}
    &.last_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_last.png");}
    &:hover {border-bottom: 1px solid #666;}
  }
  ul.sub_pasing_box {
    li a {
      // border: 1px solid #ddd; 
      border-radius: 4px;
      transition: 0.1s;
      &:hover {
        color: #fff; background-color: rgba(0, 0, 0, 0.3); border: none;
      }
    }
    li a.active {
      color: #fff; background-color: #0D7ACF; border: none; 
    }
  }
}