body::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 폭 너비 */
  height: 8px;  /* 가로축 스크롤바 폭 너비 */
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#0D7ACF, hsl(189, 88%, 43%));
  border-radius: 25px;
}
body::-webkit-scrollbar-track{
  // background-color: #575757;
  background-color: rgba(0, 0, 0, 0.3);
}

.visual_dep02_contain::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 폭 너비 */
  height: 8px;  /* 가로축 스크롤바 폭 너비 */
}
.visual_dep02_contain::-webkit-scrollbar-thumb {
  background: linear-gradient(#0D7ACF, hsl(189, 88%, 43%));
  border-radius: 25px;
}
.visual_dep02_contain::-webkit-scrollbar-track{
  // background-color: #575757;
  background-color: rgba(0, 0, 0, 0.3);
}

