.table_wrap {
  width: 100%;
  overflow-x: auto;
}
.chart_R {
  width: 100%;
  min-width: 900px;
  position: relative;
  text-align: left;
  border-top: 2px solid #053153;
  border-bottom: 2px solid #053153;
  border-collapse: collapse;

  caption {
    overflow: hidden; position: relative; width: 0; height: 0; margin: 0; padding: 0; line-height: 0;
  }
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      p {line-height: 1.5;}
      th, td {
        border-right: 1px solid #ddd;
        &:last-child {border-right: none;}
      }
      th {
        padding: 16px 8px 12px;
        background-color: #eeeeee;
        // color: #053153;
        font-weight: bold;
        vertical-align : middle;
        text-align: center;
      }
      td {
        padding: 14px;
        font-size: 14px;
        vertical-align : middle;
        border-right: 1px solid #ddd;
        // &:nth-of-type(odd) {background-color: #f5f5f5; text-align: center; font-weight: bold; min-width: 100px;}
        &:first-child {background-color: #f5f5f5; text-align: center; font-weight: bold; min-width: 100px;}
      }
    }
  }
}

// 02_03_경제·산업 지표 세부 내용
.chart_R_mixed {
  tbody{
    tr {
      td {
        background-color: transparent;
        text-align: center;
        &:first-child {background-color: transparent; font-weight: normal;}
        &.first_column {
          background-color: #eeeeee;
          font-weight: bold;
          vertical-align : middle;
        }
      }
    }
  }
}


.chart_R_mixed_NL {
  border-top: none;
  border-bottom: none;
  tbody{
    tr {
      td {
        background-color: transparent;
        text-align: center;
        &:first-child {background-color: transparent; font-weight: normal;}
        &.first_column {
          background-color: #eeeeee;
          font-weight: bold;
          vertical-align : middle;
        }
      }
    }
  }
}

// 
.chart_C_basic {
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align : middle;
  border-collapse: collapse;

  caption {
    overflow: hidden; position: relative; width: 0; height: 0; margin: 0; padding: 0; line-height: 0;
  }
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      th {
        padding: 18px 8px 14px;
        background-color: #f5f5f5;
        vertical-align : middle;
      }
      td {
        padding: 18px 0px 14px ;
        font-size: 14px;
        
        &:nth-child(2) {
          text-align: left;
          padding: 0;
          vertical-align : middle;
          display: table;
          table-layout: fixed;
          width: 100%;
          white-space: nowrap;
          a {
            width: 100%;
            padding: 18px 8px 14px;
            display: table-cell;
            overflow: hidden;
            vertical-align: middle;
            text-overflow: ellipsis;
          }
        }
      }

      th, td {
        &:nth-child(3){display: none;}
        &:nth-child(4){display: none;}
        &:nth-child(5){display: none;}
      }

    }
  }
}

// 01_01포털소개
.chart_C_line {
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align : middle;
  border-collapse: collapse;
  border-top: 2px solid #053153;
  caption {
    overflow: hidden; position: relative; width: 0; height: 0; margin: 0; padding: 0; line-height: 0;
  }
  tbody {
    tr {
      border-bottom: 1px solid #ddd;
      
      th, td {
        border-right: 1px solid #ddd;
        &:last-child {border-right: none;}
      }
      th {
        padding: 16px 8px 12px;
        background-color: #f5f5f5;
        vertical-align : middle;
      }
      td {
        padding: 16px 8px 12px;
        font-size: 14px;
      }

    }
  }
}




// 비공개||공개
.public_0, .public_1 {
  
}
.public_0 {
  color: #78439d;
  
}
.public_1 {
  color: #0D7ACF;
}

// 전수(진행중)||완료
.finish_0, .finish_1 {
  color: #fff; padding: 4px 6px 2px; border-radius: 4px;
  font-size: 12px;
}
.finish_0 {
  background-color: #EE2E5B;
}
.finish_1 {
  // background-color: #b30006;
  background-color: #0D7ACF;
}



// table::660
@media screen and (min-width: 660px){
  .chart_C_basic {
    tbody {
      tr {
        th, td {
          &:nth-child(4){display: table-cell;}
        }
      }
    }
  }
}

// table::920
@media screen and (min-width: 920px){
  .chart_C_basic {
    tbody {
      tr {
        th, td {
          &:nth-child(3){display: table-cell;}
          &:nth-child(5){display: table-cell;}
        }
      }
    }
  }
}

// table::1024
@media screen and (min-width: 1024px){
  
}

// table::1440(PC)
@media screen and (min-width: 1400px){
  
  
}