@charset "utf-8";
@import "_reset";
@import "_scroll";
@import "_common";
@import "_button";
@import "_table";
@import "_content_main";
@import "_content_sub_common";
@import "_content_sub_01";
// @import "_content_sub_02";
@import "_content_sub_03";
// @import "../03/scss/_content_sub";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@font-face { font-family: bold_font_G; src: url(../font/GmarketSansBold.otf);}
@font-face { font-family: medium_font_G; src: url(../font/GmarketSansMedium.otf);}
@font-face { font-family: light_font_G; src: url(../font/GmarketSansLight.otf);}

// font_style
svg {width: 25px;}
section.main_left_wrap, section.main_right_wrap, section.footer {padding: 0 16px;}
* {font-family: medium_font_G, 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;}
.sub_section {font-family: medium_font_G, 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;}

// box_style
.radius_m {border-radius: 8px;}
.border_lg {border: 1px solid #ddd;}
.border_t_lg {border-top: 1px solid #ddd;}
.border_b_lg {border-bottom: 1px solid #ddd;}
.gray_back_box {border: 1px solid #ddd; padding: 32px; background-color: #f5f5f5;}
.white_back_box {border: 1px solid #ddd; padding: 32px; background-color: #ffffff;}
.white_list_box {border: 1px solid #ddd; padding: 24px; background-color: #ffffff;}
.back_box_inner_title {
  padding-top: 30px; position: relative; width: 100%;
  h3 {position: absolute; top: 0px; font-weight: 600;}
}


// flex_style_wrap
.flex_wrap {flex-wrap: wrap;}
.flex_no_wrap {flex-wrap: nowrap;}

// flex_style_column
.flex_c_cc {display: flex; flex-direction: column; align-items: center; justify-content: center; }
.flex_c_cs {display: flex; flex-direction: column; align-items: center; justify-content: flex-start; }
.flex_c_cb {display: flex; flex-direction: column; align-items: center; justify-content: space-between; }
.flex_c_sc {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; }

// flex_style_row
.flex_r_sc {display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.flex_r_cc {display: flex; flex-direction: row; justify-content: center; align-items: center; }
.flex_r_ss {display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;}
.flex_r_ec {display: flex; flex-direction: row; justify-content: flex-end; align-items: center; }
.flex_r_bc {display: flex; flex-direction: row; justify-content: space-between; align-items: center; }


// paging_box
.sub_paging_wrap {
  padding-top: 16px;
  &, ul.sub_pasing_box {gap: 8px;}
  button, ul.sub_pasing_box li.paging_number_li a {
    width: 28px; height: 28px;
    font-size: 13px; color: #777;
    // font-family: 'Noto Sans KR'; 
    display: flex; justify-content: center; align-items: center;
    cursor: pointer;
  }
  button {
    border: none; width: 18px;
    background-color: transparent;
    background-repeat: no-repeat; background-position: center;
    &.first_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_fist.png");}
    &.prev_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_prev.png");}
    &.next_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_next.png");}
    &.last_pg_bt {background-image: url("../images/icon_sub_cont/sub_paging_last.png");}
    &:hover {border-bottom: 1px solid #666;}
  }
  ul.sub_pasing_box {
    li.paging_number_li a {
      // border: 1px solid #ddd; 
      border-radius: 4px;
      transition: 0.1s;
      &:hover {
        color: #fff; background-color: rgba(0, 0, 0, 0.3); border: none;
      }
    }
    li.paging_number_li a.active {
      color: #fff; background-color: #0D7ACF; border: none; 
    }
  }
}

// input
label {
  vertical-align: middle;
  display: inline-block;
}
// checkbox_01_02
input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border-top: 1px solid red !important;
  border-bottom: 1px solid red !important;
  accent-color: #0D7ACF;
  
}
input[type="search"] {height: 100%; color: #666; font-size: 14px; padding: 0 10px; border :1px solid #ddd; background-color: #f5f5f5; border-radius: 8px; height: 38px; flex-grow:1;}

select {height: 100%; min-width: 150px; color: #666; font-size: 14px; padding: 0 10px; border :1px solid #ddd; background-color: #ffffff; border-radius: 8px; height: 38px; }
select option {color: #666; font-size: 14px;}

